.vbox {
  display: flex; //this is only for children
  flex-direction: column;
}

.hbox {
  display: flex; //this is only for children
  flex-direction: row;
}

.flow1 {
  flex: 1;
}

.flow0 {
  flex: 0;
}

.flow-start {
  justify-content: flex-start;
}

.flow-end {
  justify-content: flex-end;
}

.ebb-start {
  align-items: flex-start;
}

.ebb-stretch {
  align-items: stretch;
}

.iebb-start {
  align-self: flex-start;
}

.iebb-stretch {
  align-self: stretch;
}

//justify: flex-start | flex-end | center | space-between | space-around;
//align-items: flex-start | flex-end | center | baseline | stretch;



html {
  width: 100%;
  height: 100%;
  @extend .vbox;

  body {
    @extend .vbox;
    @extend .flow1;
    font-family: 'Roboto', sans-serif;

    .body-content {
      @extend .vbox;
      @extend .flow1;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.home {
  @extend .iebb-stretch;
  @extend .flow1;
  @extend .vbox;
  background: #272B30;
  color: #C8C8C8;

  .filters {
    @extend .vbox;

    .filter {
      @extend .hbox;
      @extend .ebb-stretch;

      .style-control {
        width: 150px;
      }
    }

    .filters-controls {
      @extend .hbox;
      @extend .ebb-stretch;
    }
  }

  .traces {
    @extend .flow1;
    overflow: auto;
    margin: 0;

    border: 2px solid #333;
    border-radius: 4px;

    .trace {
      // display: block;
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: 100%;
      text-align: left;
      padding: 3px 6px;
      border: none;
      background: none;
      white-space: nowrap;
      margin-bottom: 2px;

      &:hover {
        outline: none;
        // background: #444 !important;
        // color: #eee !important;

        .trace-timestamp {
          // color: #aaa !important;
        }

        .trace-bundle {
          // color: #aaa !important;
        }

        .trace-level {
          // color: #aaa !important;
        }
      }

      .trace-timestamp {
        align-self: flex-start;
        @extend .small;
        margin-right: 5px;
        color: #666;
      }

      .trace-bundle {
        align-self: flex-start;
        @extend .small;
        margin-right: 5px;
        color: #666;
      }

      .trace-level {
        align-self: flex-start;
        @extend .small;
        margin-right: 10px;
        color: #666;
      }

      .trace-json {
        @extend .small;
        
        >ul {
          display: inline-block;
          margin: 0 4px 0 4px !important;
          padding: 0 8px 4px 8px !important;
          background: rgba(35, 35, 35, 0.7);
          border: 2px solid rgb(35, 35, 35) !important;
          border-radius: 4px;
        }
      }

      .trace-text {
        &.ws-pre {
          white-space: pre;
        }
        &.ws-pre-wrap {
          white-space: pre-wrap;
        }
      }

      &.d {
        .trace-timestamp {
          color: #66f;
        }

        .trace-bundle {
          color: #66f;
        }

        .trace-level {
          color: #66f;
        }

        .trace-text {
          color: #99f;
        }
      }

      &.i {
        .trace-timestamp {
          color: #6f6;
        }

        .trace-bundle {
          color: #6f6;
        }

        .trace-level {
          color: #6f6;
        }

        .trace-text {
          color: #9f9;
        }
      }

      &.w {
        .trace-timestamp {
          color: #ff6;
        }

        .trace-bundle {
          color: #ff6;
        }

        .trace-level {
          color: #ff6;
        }

        .trace-text {
          color: #ff9;
        }
      }

      &.e {
        .trace-timestamp {
          color: #f66;
        }

        .trace-bundle {
          color: #f66;
        }

        .trace-level {
          color: #f66;
        }

        .trace-text {
          color: #f99;
        }
      }
    }
  }
}