.vbox {
  display: flex; //this is only for children
  flex-direction: column;
}

.hbox {
  display: flex; //this is only for children
  flex-direction: row;
}

.flow1 {
  flex: 1;
}

.flow-start {
  justify-content: flex-start;
}

.flow-end {
  justify-content: flex-end;
}

.ebb-start {
  align-items: flex-start;
}

.iebb-start {
  align-self: flex-start;
}

.iebb-stretch {
  align-self: stretch;
}

//justify: flex-start | flex-end | center | space-between | space-around;
//align-items: flex-start | flex-end | center | baseline | stretch;



html {
  width: 100%;
  height: 100%;
  @extend .vbox;

  body {
    @extend .vbox;
    @extend .flow1;

    .body-content {
      @extend .vbox;
      @extend .flow1;

      background: #f99;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.home {
  @extend .iebb-stretch;
  @extend .flow1;
  @extend .vbox;


  .filters {
    background: #9f9;
  }

  .lines {
    background: #99f;
    @extend .flow1;
  }

  // width: 400px;
  // height: 300px;
}


// $bg: #222;
// $border: #464545;
// $control-bg: #303030;
// $text-light: #ccc;

// html {
//     background: transparent;
//     width: 100%;
//     height: 100%;
//     display: flex;

//     body {
//         background: transparent;
//         display: flex;
//         flex: 1;

//         .body-content {
//             display: flex;
//             flex: 1;

//             >div {
//                 display: flex;
//                 flex: 1;

//                 >div {
//                     display: flex;
//                     flex: 1;
//                 }
//             }
//         }
//     }
// }

// i {
//     user-select: none;
//     // cursor: default; //trying to select text
// }

// .onClick {
//     cursor: pointer;
// }

// .task-window {
//     border: 2px outset transparent;
//     border-radius: 0.25rem;
//     border-color: #222;
//     -webkit-app-region: drag;
//     // width: 300px;

//     background: rgba(0, 0, 0, 0.7);
//     color: $text-light;
//     padding: 20px;

//     i.fa-remove {
//         position: absolute;
//         right: 5px;
//         top: 5px;
//         cursor: pointer;
//         color: #333;
//         -webkit-app-region: no-drag;

//         &:hover {
//             color: white;
//         }
//     }

//     hr {
//         background: $border;
//     }

//     input {
//         background: $control-bg;
//         color: $text-light;
//         text-align: center;
//         border: none;
//     }
// }

// .splash {
//     @extend .task-window;

//     .splash-inner {
//         -webkit-app-region: no-drag;

//         flex: 1;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         text-align: center;
//     }
// }

// .update {
//     @extend .task-window;

//     .update-inner {
//         -webkit-app-region: no-drag;

//         flex: 1;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: stretch;
//         text-align: center;

//         .center-stage {
//             justify-content: flex-start;
//             flex-direction: column;
//             display: flex;
//             flex: 1;
//         }

//         .percentage {
//             margin: 25px 0;
//         }

//         .rc-progress-line-path {
//             // stroke: green;
//         }
//     }
// }

// .home {
//     @extend .task-window;

//     .home-inner {
//         -webkit-app-region: no-drag;
//     }

//     .icon-bar {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//         i {
//             margin: 0 5px;
//         }
//     }

//     .fa-power-off {
//         &:hover {
//             color: red;
//         }
//     }

//     .fa-folder-open-o {
//         &:hover {
//             color: blue;
//         }
//     }

//     .fa-unlink {
//         color: red;
//     }

//     .btn {
//         width: 100%;
//     }

//     hr {
//         margin: 10px 0;
//     }
// }

//  .playlist {
//      @extend .small;

//     .list-group {
//         width: 100%;
//         height: 280px;
//         overflow-y: auto;
//         overflow-x: hidden;

//         .list-group-item {
//             padding: 0;
//             text-align: center;
//             background: $control-bg;
//             border-color: $border;
//             color: $text-light;
//             cursor: pointer;
//             user-select: none;

//             display: flex;
//             flex-wrap: nowrap;
//             flex-direction: row;

//             > *:hover {
//                 background-color: rgba(55, 90, 127,0.9);
//                 position: relative;

//                 // i {
//                 //     opacity: 1;
//                 //     &:hover {
//                 //         color: white;
//                 //     }
//                 // }
//             }

//             .item-key {
//                 border-right: 1px solid $border;
//                 input {
//                     width: 50px;
//                     height: 100%;
//                     background: none;
//                     border: none;
//                 }
//             }
            
//             .item-name {
//                 flex: 1;
//                 padding: 5px;
//             }

//             select {
//                 background: none;
//                 border: none;
//                 border-right: 1px solid $border;
//                 color: $text-light;
//                 cursor: pointer;
//             }

//             // i {
//             //     opacity: 0;
//             //     color: black;
//             // }
//         }
//     }

//     .btn {
//         width: 100%;
//     }
// }


// .radial-player {
//     display: flex;
//     flex: 1;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     background: rgba(0, 0, 0, 0.7);

//     .player-item {
//         border: 1px solid transparent;
//         border-radius: 0.25rem;
//         background-color: rgba(0,0,0,0.9);
//         border-color: #bcdff1;
//         color: #31708f;
//         padding: 20px;
//         white-space: nowrap;
//         overflow: hidden;
//         cursor: pointer;
//         user-select: none; //unselectable text

//         &:hover {
//             background-color: rgba(55, 90, 127,0.9);
//             color: white;
//         }
//     }
// }